@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  @include mat.button-overrides((
    filled-container-color: #2C2E33,
    filled-label-text-color: #FFF,
    text-label-text-color: #2C2E33
)); }